<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gordApps.glog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.glogApps.glog.ApplicationLoader"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/GlogTheme" >

        <!-- android:theme="@style/AppTheme" > -->
        <!--
        <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/AppName"
        android:theme="@style/Theme.TMessages.Start"
        android:name="org.telegram.ui.ApplicationLoader"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        -->

        <activity
            android:name="com.glogApps.glog.ActivityPrincipal"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.glogApps.glog.ZoneActivity"
            android:label="@string/title_activity_zone" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.glogApps.glog.ActivityPrincipal" />
        </activity>
        <activity
            android:name="com.glogApps.glog.CreateZoneActivity"
            android:label="@string/title_activity_create_zone" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.glogApps.glog.ActivityPrincipal" />
        </activity>
        <activity
            android:name="com.glogApps.glog.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.glogApps.glog.SavedCommentsActivity"
            android:label="@string/title_activity_saved_comments" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.glogApps.glog.ActivityPrincipal" />
        </activity>
        <activity
            android:name="com.glogApps.glog.UserActivity"
            android:label="@string/title_activity_user" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.glogApps.glog.SettingsActivity"
            android:label="@string/title_activity_settings" 
            android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>
